{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-center">404 - Page non trouvée</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <p class="text-center">
        La page demandée n'est pas trouvée. Vérifier l'adresse URL ou 
        <a href="{{ path('homepage') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}