{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-center">Erreur interne</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <p class="text-center">
        Nous rencontrons actuellement un problème interne, renouveller votre requête ultérieurement.
    </p>
{% endblock %}