{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-center">403 - Accès refusé</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <p class="text-center">
        Vous n'avez pas la permission d'acceder à cette page.
    </p>
{% endblock %}